html {
  font-family: 'Muli', sans-serif;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.navbar-burger span {
  height: 2px;
  color: #1b2836;
}
