{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": ["meteor"],
  "extends": ["airbnb", "plugin:meteor/recommended"],
  "settings": {
    "import/resolver": "meteor"
  },
  "globals": {
    "Assets": true, // currently not possible to import as an ES6 module
    "Package": true,
    "Cordova": true,
    "Npm": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-absolute-path": 0,
    "import/extensions": 0,
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["^meteor/", "^/"]
      }
    ],

    // XXX this *should* be taken care of by eslint-import-resolver-meteor, investigate.
    "import/no-extraneous-dependencies": 0,

    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id", "_ensureIndex", "_storedLoginToken"]
      }
    ],
    "no-undef": ["off"],
    "comma-dangle": ["off", "never"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "eslint/arrow-parens": ["off"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": false
      }
    ],
    "semi": "off",
    "arrow-body-style": [
      "error",
      "as-needed",
      {
        "requireReturnForObjectLiteral": true
      }
    ],

    // for Meteor API's that rely on `this` context, e.g. Template.onCreated and publications
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "meteor/no-session": 0
  }
}
